<%- include layouts/header.ejs %>
<div class="sectionInformation">
    <h1 class="titleMain">Diabetes</h1>
    <article class="articleinfo">
        <h3>¿Que es la diabetes?</h2>
        <p class="pInfo">
            La diabetes es una enfermedad en la que los niveles de 
                    glucosa (azúcar) de la sangre están muy altos. 
                    La glucosa proviene de los alimentos que consume mientras que la insulina es 
                    una hormona que ayuda a que la glucosa entre en las células 
                    para suministrarles energía. <br>
                    <br>
                    Con el tiempo, el exceso de glucosa en la sangre puede causar problemas serios en nuestra salud ya que 
                    puede dañar los ojos, los riñones y los nervios. 
                    La diabetes también puede causar enfermedades cardíacas, derrames cerebrales y 
                    la necesidad de amputar un miembro. Las mujeres embarazadas 
                    también pueden desarrollar diabetes, llamada diabetes gestacional. <br>
                    <br>
                    Un análisis de sangre puede mostrar si tiene diabetes, una de prueba A1c, 
                    también puede comprobar cómo está manejando su diabetes. 
                    El ejercicio, el control de peso y respetar el plan de comidas puede ayudar a controlar la diabetes. 
                    También debe controlar el nivel de glucosa en sangre y, si tiene receta médica, tomar medicamentos.
                    <br>
                    <br>
                    Cuando la glucemia basal se sitúa entre los 110 y los 128 mg/dl se considera que existe una alteración de 
                    los niveles de glucosa en el organismo de tipo prediabético. Esto implica un riesgo latente 
                    de desarrollar una diabetes mellitus o diabetes tipo 2. Normalmente se recomienda seguir unas pautas 
                    de alimentación y realizar ejercicio físico, pero también el seguimiento del paciente para vigilar de forma 
                    periódica la evolución de estos valores. Si estos superan la cifra de 128 ml/dl, entonces se considera que 
                    existe una hiperglucemia o diabetes tipo 2 y que debe instaurarse un tratamiento dietético o 
                    incluso farmacológico para mantener las cifras en un rango de normalidad.
                
        </p>
        <br>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/PzaKFFYO2sQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br>
        <br>
        <div class="imgDescription">
            <img src="/images/diabetes.jpg" alt="">
        </div>
        
        
    </article>
    <hr>
    <article class="articleinfo">
        <h3>Diabetes tipo 1</h3>
        <p class="pInfo">
            En la diabetes tipo 1, el cuerpo no produce insulina, lo cual provoca que las celulas no puedan usar la glucosa para obtener 
            energia generando esto una acumulacion de glucosa en el torrente sanguineo derivando asi en la diabetes de tipo 1 <br>
                            <br>
            Se puede presentar a cualquier pero es diagnosticada con mayor frecuencia en niños y adolecentes, los tratamientos 
            ayudan a disminuir los sintomas mas no posee una cura pemanente.
                    
        </p>
        <h3 >Sintomas</h3>
        <ul class="sintomas">
            <li>Hambre</li>
            <li>Fatiga.</li>
            <li>Sed </li>
            <li>Nauseas o vomito</li>
            <li>Aumento del hambre.</li>
            <li>Micción excesiva</li>
            <li>Encías rojas e inflamadas</li>
            <li>Hormigueo o entumecimiento en las manos o los pies.</li>
        </ul>
        <br>
        <div class="imgDescription">
            <img src="/images/fatiga.jpg" alt="">
        </div>
        
        
    </article>
    <hr>
    <article class="articleinfo">
        <h3>Diabetes tipo 2</h3>
        <p class="pInfo">
            En la diabetes tipo 2, la más común, 
            el cuerpo no produce o no usa la insulina de manera adecuada conocido como resistencia a la insulina. 
            Sin suficiente insulina, la glucosa permanece en la sangre.
            <br>
            <br>
            Los adultos mayores junto con las personcas con sobrepeso son mas propensas a 
            sufrir de diabetes tipo 2, a su vez puede ser heredada de generacion en generacion. 
                            
        </p>
        <h3 >Sintomas</h3>
        <ul class="sintomas ">
            <li>Sed</li>
            <li>Fatiga.</li>
            <li>Visión borrosa</li>
            <li>Pérdida o aumento de peso inesperadas.</li>
            <li>Aumento del hambre.</li>
            <li>Llagas de curación lenta e infecciones frecuentes.</li>
            
        </ul>
        <br>
        <div class="imgDescription">
            <img src="/images/sintomas.jpg" alt="">
        </div>
        
        
    </article>
    <hr>
    <article class="articleinfo">
        <h3>Diabetes gestacional</h2>
        <p class="pInfo">
            A diferencia de los otros tipos de diabetes, la diabetes gestacional aparece en algunas mujeres solo durante 
            el embarazo y desaparece poco tiempo despues de que este finaliza. Aun no se conoce la causa por la cual algunas mujeres lo 
           padecen y otras no aunque se cree que es debido al cambio hormonal sufrido durante la gestacion.
                            <br>
                            <br>
            Algunos factores que pueden generar una complicacion son sobrepeso, falta de actividad fisica, Síndrome de ovario poliquístico,
           Parto previo de un bebé con un peso de más de 4,1 kilos, algunnos grupos etnicos tiene mayor riego de complicacion como los son
            mujeres afroamericanas, indigenas americanas entre otros.
                                     
        </p>
        <h3>Sintomas</h3>
                <ul class="sintomas">
                    <li>Sed</li>
                    <li>Micción excesiva</li>
                                
                                
                </ul>
        <br>
        <div class="imgDescription">
            <img src="/images/diabetesGes.jpg" width="600" height="400" alt="">
        </div>
        
        <iframe width="560" height="315" src="https://www.youtube.com/embed/GRQPxiTqrmQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </article>
    <hr>
    <article class="articleinfo recomendaciones">
        
        <h2 class="stRecomendaciones normal">Recomendaciones para la diabetes</h2>



            <h2> cuidados </h2>
            <p class="precomendaciones">Cuidar la parte de las piernas es muy importante cuando los niveles de azúcar son muy altos las personas pueden sufrir de inchamientos y dolores fuertes en la parte inferior del cuerpo. </p> 
            <p class="precomendaciones">Los controles para medir los niveles de azúcar son muy recomendables cada 5 días esto para evitar algún incremento, después de los 200 mg/dl significa que tiene los niveles de azúcar en la sangre muy altos y podría ser dañino para la salud del paciente </p> 
            <p class="precomendaciones">El uso obligatorio de los medicamentos y el correcto uso de este ser muy puntual a la hora de aplicar la insulina y los medicamentos que se tienen que tomar día día cabe resaltar que la hidratación y la buena alimentación va hacer de su salud más sana.</p> 

        
            <h2> alimentacion </h2>
            <p class="precomendaciones">La alimentación es fundamental para llevar una regulación de los niveles de azúcar en la sangre, el agua es lo más recomendable, jugos naturales con cero azúcar, refrescos light ya que estos remplazan el azucar por edulcorantes sin embargo este último no con tanta frecuencia</p>


            <h2> entrenamiento </h2>
            <p class="precomendaciones">Realiza actividad fisica almenos 3 veces por semana tales como correr o practicar algun deporte de tu preferencia <br> sin excederse mas alla de los limites ya que podria provocar un aumento de la presion arteril de forma peligrosa. <br> Actividades como el yoga son una buena alternativa.</p>


        <div class="imgDescription">
            <img src="/images/hiper.jpg" width="500" height="400" alt="">
        </div>
        
        
    </article>
</div>
</div>


<%- include layouts/footer.ejs %>