<%- include layouts/header.ejs %>
<div id="containerSelection" class="containerSelection">
  <h2 class="h2Selection">Seleccione una opcion</h2>
  <div class="selection" >
      <a href="/diabetes">
          <div id="selectionDiabetes" class="divSel selectionDiabetes">
              <h4>Diabetes</h4>
              <div class="hoverEfect"></div>
          </div>
      </a>
      
      <a href="/tension">
          <div id="selectionTension" class="divSel selectionTension">
              <h4>Tension</h4>
              <div class="hoverEfect2"></div>
          </div>
      </a>
  </div>
</div>
<hr>
<div id="containerNews" class="containerNews">

  <h2 class="h2News" id="h2News">Proximamente</h2>
  <div id="newsText">
      <p class="newsText" id="newText">
          Se implementara la opcion de graficar los datos registrados ayudando asi a tener una vista mas detallada de las variaciones entre cada medicion.

        </p>
        <div class="imgDescriptionNews">
            <img src="/images/graf.PNG" width="600" height="500" alt="">
        </div>
      
      <p class="newsText" id="newText">
        Se incluiran mas videos con relacion a los cuidados y recomendaciones a tener en cuenta.
    </p>
    <p class="newsText" id="newText">
        Se agregaran recetas enfocadas en las personas que padecen de tension o diabetes.
    </p>
      </div>
</div>
<div id="containerAboutUs" class="containerAboutUs">
  <h1>Acerca de nosotros</h1>
      <div class="containerAboutInfo">
          
          <div class="divInfo whatIs" id="divInfo">
              
              
                  <h2>¿Que es ValiSalud?</h2>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ea magni reiciendis animi aperiam perferendis id expedita quam! Aut tenetur nemo ea quibusdam, consectetur cum numquam vero possimus provident at.
                  </p>
              </div>
              
              <div class="divInfo origin" id="divInfo">

                  <h2>Origen</h2>
                  <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia ea magni reiciendis animi aperiam perferendis id expedita quam! Aut tenetur nemo ea quibusdam, consectetur cum numquam vero possimus provident at.
                  </p>
              </div>
      </div>

  <div id="containerMembers" class="containerMembers">
      <div class="member" id="member">
          <div id="m1">
              <img src="images/diego.jpg" alt="">
          </div>
          <h3>Diego Garay Fonseca</h3>
          <ul id="infoMember">
              <li>Carera:Ing.Sistemas</li>
              <li>Semestre: Tercero</li>
              <li>Edad:20</li>
          </ul>
      </div>
      <div class="member" id="member">
          <div id="m1">
              <img src="images/julian.png" alt="">
          </div>
          <h3>Joshua Julian Cobos Bautista</h3>
          <ul id="infoMember">
              <li>Carera:Ing.Sistemas</li>
              <li>Semestre: Tercero</li>
              <li>Edad: 22</li>
          </ul>
      </div>
      <div class="member" id="member">
          <div id="m1">
              <img src="images/andrey.png" alt="">
          </div>
          <h3>Oscar Andrey Cristiano Acevedo</h3>
          <ul id="infoMember">
              <li>Carera:Ing.Sistemas</li>
              <li>Semestre: Tercero</li>
              <li>Edad:18</li>
          </ul>
      </div>
  </div>
</div>

</div>
<%- include layouts/footer.ejs %>