<%- include layouts/header.ejs %>
<div class="sectionInformation">
    <h1 class="titleMain">Tension</h1>
    <article class="articleinfo">
        <h3>Problemas de Tension</h2>
        <p class="pInfo">
            La presion arterial es la fuerza que ejerce la sangre contra las paredes de las arterias, la maxima presion 
            se da cuando el corazon late bombeando sangre contra las paredes arteriales, a esto se le llama <b>presion sistolica</b>.
            Mientras que la presion minima se da entre latidos esto de denomina <b>presion diastolica</b>, una presion arterial normal 
            por lo general es de 120 sobre 80 variando en algunos casos.
            <br>
            Cabe aclara que la presion arterial varia a lo largo del dia dependiendo de diversos factores como actividad fisica, estres, siendo mas
            baja cuando estamos en reposo, a su vez nuestra alimentacion e hidratacion influye en la presion arterial. 
            
            
        </p>
        <div class="imgDescription">
            <img src="/images/tension.jpg" width="500" height="600" alt="">
        </div>
        
        
    </article>
    <hr>
    <article class="articleinfo artTen">
        <div class="containerTension">
            <div class="divInfo hiper" >
                <h2>Hipertension</h2>
                    <p class="pInfo">
                        La hipertension surge cuando la presion arterial aumenta por encima de 120 sistole y 80 diastole. <br>
                        <br>
                        La hipertension al ser una condicion asintomatica es dificil de diagnosticar, por ello es 
                        recomendable hacerse chequeos regulares. <br> 
                        La hipertension puede generarse como resultado de la vejez, como derivado de otra condicion medica o incluso a causa de
                        algun medicamento. <br>
                        <br>
                        El no tratar la hipertension puede general problemas largo plazo como acidentes cerebrovasculares, ataques cardiacos,
                        insuficiencia renal entre otros.   
                    </p>
                    <br>
                <h3>Sintomas de hipertension</h3>
                <br>
                    <ul class="sintomas"> 
                                <li>Dolor de cabeza</li>
                                <li>Dolor en el dorso del cuello</li>
                                <li>Náusea y a veces el vomitar</li>
                                <li>Vértigos</li>
                                <li>Somnolencia</li>
                                <li>La hipertensión severa puede causar hemorragias <br>
                                    nasales súbitas y severas</li>
                                <li>Latido del corazón irregular</li>
                                <li>Falta de aire</li>
                                <li>La tensión arterial alta a largo plazo puede llevar al <br>
                                    daño de aro y a la visión enmascarada o doble.</li>
                    </ul>
                    <br>
                            
            </div>
            <div class="divInfo hipo" >
                <h2>Hipotension</h2>
                    <p class="pInfo">
                        La hipotension o  presion arterial baja se produce cuando la presion arterial esta por debajo de 90 sistole  y 70 distole.
                        esto quiere decir que la sangre no se esta bombeando con la sufiente fuerza esto puede traer consigo problemas como desmayos debido a que 
                        el cerebro no recibe suficiente sangre, mareos o fatiga.
                        <br>
                        <br>
                        Puede estar generada por genetica heredada, trastornos alimenticios o como consecuencia de alguna otra enfermedad o condicion tales como 
                        el embarazo.
                    </p >
                    <br>
                    <h3>Sintomas de hipotension</h3>
                    <br>
                    <ul class="sintomas">
                                <li>Visión borrosa.</li>
                                <li>Confusión.</li>
                                <li>Vértigo</li>
                                <li>Desmayo</li>
                                <li>Mareo.</li>
                                <li>Náuseas o vómitos.</li>
                                <li>Somnolencia.</li>
                                <li>Debilidad.</li>
                                
                    </ul>
            </div>
        </div>
        
    </article>
    <hr>
    <article class="articleinfo recomendaciones">
        <h3 class="tRecomendaciones">Recomendaciones</h3>
        
        <h2 class="stRecomendaciones baja">Tension Baja o hipotension</h2>

        <p class="precomendaciones">los valores de presion por debajo de 110 la presion sistolica y 70 la presion diastolica son un indicador de presion arterial baja.</p> 


            <h2> cuidados </h2>
            <p class="precomendaciones">Sigue una dieta balanceada, despues de un tiempo en estado de reposo prolongado evita ponerte de pie de golpe <br> toma una pausa intermedia mientras te levantas es decir si estabas acostado primero sientate unos segundos antes de ponerte de pie. <br> Mantente hidratado y come entre comidas."</p> 

        
            <h2> alimentacion </h2>
            <p class="precomendaciones">Las personas con tension arterial baja deben mantener una dieta varida y moderada en sodio asi como una buena <br>  hidratacion. <br> La sal marina es muy buena opcion para aderezar las comidas eso si, sin excederse. <br> La cafeina puede ayudar a aumentar la presion arterial, puedes tomar de 1 a 2 tazas por dias. <br> Los frutos secos como nueces o almendras. <br>Ten una dieta variada de verduras frescas. <br> El chocolate oscuro y los Cereales integrales como quinoa, arroz integral y avena.<br> Beber suficiente agua"</p>


            <h2> entrenamiento </h2>
            <p class="precomendaciones">Realizar actividades fisicas frecuentemente puede ayudar a mejorar la presion <br> arterial pero se deben evitar actividades demasiado <br> exigentes ya que pueden producir un resultado totalmente contrario </p>


        <div class="imgDescription">
            <img src="/images/hipo.jpg" width="500" height="400" alt="">
        </div>
        
        
    </article>
    <hr>
    <article class="articleinfo recomendaciones">
        <h3 class="tRecomendaciones">Recomendaciones</h3>
        <h2 class="stRecomendaciones normal">Tension normal</h2>

        <p class="precomendaciones">Los valores de tension normal son desde 110 hasta 128 presion Sistolica y 70 a 80 presion diastolica</p> 

            <h2> alimentacion </h2>
            <p class="precomendaciones">Tu tension es normal, recuerda seguir las recomendaciones, evita los alimentos con alto porcentaje de sodio y mentente hidratado</p>


            <h2> entrenamiento </h2>
            <p class="precomendaciones">La actividad fisica mejora la presion y ayuda a prevenir algunas enfermedades como los problemas de tension.</p>


        <div class="imgDescription">
            <img src="/images/actividad-fisica.png" width="500" height="400" alt="">
        </div>
        
        
    </article>
    <hr>
    <article class="articleinfo recomendaciones">
        <h3 class="tRecomendaciones">Recomendaciones</h3>
        <h2 class="stRecomendaciones alta">Tension Alta o hipertension</h2>

        <p class="precomendaciones">Si los valores se encuentran por encima de 120 Presion sistolica y 90 presion diastolica quiere decir que hay problemas ded hipertension.</p> 


            <h2> cuidados </h2>
            <p class="precomendaciones">Debe ser constante en su cuidado, tome su tension de manera regular y  visite su medico una vez al mes.</p> 

        
            <h2> alimentacion </h2>
            <p class="precomendaciones">Las perosnas que sufren de tension alta deben mantener una dieta baja en sodio, carbohidratos a su vez se debe evitar el consumo excesivo de alcohol. <br> Mantente bien hidratado <br> Los lacteos preferiblemente descremados <br> Reduce tu consumo de cafeina y bebidas energizantes. Los frutos secos son una buena alternativa como los pistachos o las almendras cuidando siempre aquellos que son salados <br> Consume carnes magras como pollo o coonejo.</p>


            <h2> entrenamiento </h2>
            <p class="precomendaciones">Realiza actividad fisica almenos 3 veces por semana tales como correr o practicar algun deporte de tu preferencia <br> sin excederse mas alla de los limites ya que podria provocar un aumento de la presion arteril de forma peligrosa. <br> Actividades como el yoga son una buena alternativa.</p>


        <div class="imgDescription">
            <img src="/images/hiper.jpg" width="500" height="400" alt="">
        </div>
        
        
    </article>
</div>
</div>

<%- include layouts/footer.ejs %>